<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NorthWind</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/buttons.dataTables.min.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">NorthWind</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NorthWind - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/jszip.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables-1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.print.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery-ui-i18n.min.js"></script>
<script>
        $(document).ready( function () {
            $('table.datatable').DataTable({
                language:{url:"@Url.Content("~/js/pt_br.json")"},
                dom: 'Bfrtip',
                buttons: ['excel']
            });
            /*
            $.datepicker.setDefaults(
                $.extend(
                    {'dateFormat':'dd-mm-yy'},
                    $.datepicker.regional['pt-BR']
                )
            );
            $('.date-picker').MonthPicker({ 
                Button: false,
                MinMonth: '-2y',
                MaxMonth: '+2y',
                i18n: {
                    year: 'Ano',
                    prevYear: 'Ano Anterior',
                    nextYear: 'Próximo Ano',
                    next12Years: 'Avançar 12 Anos',
                    prev12Years: 'Voltar 12 Anos',
                    nextLabel: 'Próximo',
                    prevLabel: 'Anterior',
                    buttonText: 'Abrir',
                    jumpYears: 'Pular Anos',
                    backTo: 'Voltar para',
                    months: ['Jan.', 'Fev.', 'Mar.', 'Abr.', 'Mai', 'Jun.', 'Jul.', 'Ago.', 'Set.', 'Out.', 'Nov.', 'Dez.']
                }
            });
            */
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
